#clickPanel {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc( 100% - 55px );
  z-index: 10;
}

#player1_clicZone, #player2_clicZone {
  height: 100%;
  width: 100%;
}

#player1_clicZone {
  background-color: rgba( 0, 0, 255, 0.1 );
}

#player2_clicZone {
  background-color: rgba( 255, 0, 0, 0.1 );
}

@media screen and (min-width: 768px) {

} 